{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>

{% if user.notes|length == 0 %}
<p align="center">You haven't added any notes yet.</p>
{% else %}
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button
      type="button"
      class="close"
      aria-label="Close"
      onClick="deleteNote({{ note.id }})"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endif %}

<form method="POST">
  <textarea
    name="note"
    id="note"
    class="form-control"
    placeholder="Enter note"
  ></textarea>
  <div align="center">
    <button class="btn btn-primary mt-3" type="submit">Add Note</button>
  </div>
</form>

{% endblock %}
